#logo_cars {
    height: 60px;
}

#about_car {
    width: 80%;
}

.bg-gray-lighter {
    background-color: #f5f5ee;
}

.card-image {
    font-size: 100px;
    color: #444;
    margin: 10px 0 20px 0;
    transition: .5s;
}

.card-image:hover {
    color: red;
}

.form-input small {
    visibility: hidden;
}

/* Error and Success */
.form-input.success input, .form-input.success select {
    border-color: #2ecc71;
}

.form-input.error input, .form-input.error select {
    border-color: #e74c3c;
}

.form-input.error small {
    visibility: visible;
    color: #e74c3c;
}