#logo_cars {
    height: 60px;
}

#about_car {
    width: 80%;
}

.about_title {
    text-align: center;
    margin: 20px 0 20px 0;
}

.section-pilares {
    background-color: #f5f5ee;
    text-align: center;
}

.section-ofertas {
    background-color: #f5f5ee;
}

.card-image {
    font-size: 100px;
    color: #444;
    margin: 10px 0 20px 0;
    transition: .5s;
}

.card-image:hover {
    color: red;
}